Django>=4.2.0
python-dotenv>=1.0.0



Cuando clonen el repo y quieran cargar todo, simplemente hacen:
Abre terminal en la raíz de tu proyecto (donde está manage.py) y ejecuta:

pip install mysqlclient
pip install django
pip install python-dotenv
python manage.py migrate
python manage.py loaddata datos_iniciales.json

python manage.py dumpdata --indent 2 > datos_iniciales.json

✅ Esto genera el fixture con todos los grupos, usuarios, permisos, organizaciones y perfiles
